{% extends "base.html" %}

{% block metadata %}
	<meta name="description" content="{% if article.description %}{{ article.description }}{% endif %}">
	<meta property="og:description" content="{% if article.description %}{{ article.description }}{% endif %}">
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block content %}
<div class="post">
	<h1 class="post-title">{{ article.title }}</h1>
	<span class="post-date">{{ article.locale_date }}</span>
	{{ article.content }}
</div>
{% endblock %}

